:root {
  --color-oscuro: #001f3f;
  --color-claro: #9b9999;
  --color-blanco: #ffffff;

  --fuente-titulo: "Roboto", sans-serif;
  --fuente-cuerpo: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: var(--color-oscuro);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logoContenedor {
  width: 150px;
  height: auto;
  margin-left: 10px;
}
.logo {
  width: 100%;
  height: auto;
}

nav {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
}

nav .menuPrincipal {
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
}

.menuPrincipal .menuItem, .menuPrincipal .menuItem a {
list-style-type: none;
color: var(--color-blanco);
font-family: var(--fuente-titulo);
font-size: 18px;
text-transform: uppercase;
text-decoration: none;
}

/*FOOTER*/

footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-oscuro);
  position: relative;
  bottom: 0;
}

.footerContacto, .footerRedes {
  width: 300px;
  height: 300px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
 gap: 20px;
}


footer h3 {
font-family: var(--fuente-titulo);
font-size: 16px;
color: var(--color-blanco)
}

footer p {
  font-family: var(--fuente-cuerpo);
  font-size: 14px;
  color: var(--color-blanco)
}

.footerRedes .redesSociales {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.redesSociales, .footerRedes article {
  width: 100%;
}

.socialItem {
list-style-type: none;
}

.svg-inline--fa {
 font-size: 30px;
 color: var(--color-claro);
 cursor:pointer;
}

/*Index*/

.presentacion {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.textoPresentacion {
  width: 50%;
  height: auto;
  padding: 30px;
}

.textoPresentacion h1 {
  font-family: var(--fuente-titulo);
  color: var(--color-oscuro);
  font-size: 40px;
  margin-bottom: 20px;
}

.textoPresentacion p {
  font-family: var(--fuente-cuerpo);
  font-size: 16px;
}

.imagenAuto {
  width: 50%;
}

.imagenAuto img {
  width: 100%;
  height: auto;
}

.listaConcesionarias {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px 0;
}

.listaConcesionarias h3 {
  font-family: var(--fuente-titulo);
  font-size: 32px;
  color:var(--color-oscuro);
}

.listaConcesionarias ul {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.concesionaria {
  list-style-type: none;
  height: auto;
  width: 250px;
  border: 1px solid var(--color-claro);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-claro) ;
}

.concesionaria a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-family: var(--fuente-cuerpo);
  text-transform: uppercase;
  color: var(--color-blanco)
}

/*NO ENCONTRADO*/

.noEncontrado {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.noEncontrado h1 {
  font-family: var(--fuente-titulo);
  font-size: 50px;
  color: var(--color-claro)
}

/*SUCURSALES*/

.vistaSucursales {
  width: 100%;
  height: auto;
  padding:30px;
}

.sucursales {
  width: 100%;
  height: 600px;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sucursales h1 {
  font-family: var(--fuente-titulo);
  font-size: 30px;
  color: var(--color-oscuro);
  margin-bottom: 10px;
}

.listaSucursales {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.sucursales a {
  text-decoration: none;
}

.infoSucursal {
  width: 320px;
  height: 250px;
  padding: 30px;
  border: 1px solid black;
}

.nombreSucursal {
  font-family: var(--fuente-titulo);
  font-size: 24px;
  color: var(--color-oscuro);
}

.infoSucursal p {
  font-family: var(--fuente-cuerpo);
  font-size: 18px;
  color: var(--color-claro);
}

.fa-location-dot {
font-size: 30px;
margin-right: 10px;

}

/*SUCURSAL*/

.vistaSucursal {
  width: 100%;
  height: auto;
  padding: 30px;
}

.vistaSucursal {
  font-family: var(--fuente-titulo);
}

.datosSucursal {
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
}


.textoDatosSucursal h1 {
  font-size: 60px;
  color: var(--color-oscuro);
}

.imagenDatosSucursal {
  width: 40%;
}

.imagenDatosSucursal img{
width: 100%;
height: auto;
}

.autosSucursal {
  width: 100%;
  height: auto;
}

.infoAutosSucursal {
  width: 100%;
  height: auto;
  margin: 30px;
}

/*AUTOS*/

.vistaAutos {
  width: 100%;
  height: auto;
}

.vistaAutos h1 {
  font-family: var(--fuente-titulo);
  font-size: 42px;
  color: var(--color-oscuro);
  margin: 30px auto;
  text-align: center;
  text-transform: uppercase;
}

.contenedorAutos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.marcaAuto {
  width: 100%;
  height: auto;
}

.marcaAuto h2 {
  height: 100px;
  width: 100%;
  background-color: var(--color-claro);
  font-family: var(--fuente-titulo);
  font-size: 36px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.marcaAuto a {
  text-decoration: none;
  color:var(--color-oscuro);
  cursor:pointer;
}

.contenedorModelos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modeloAuto {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.modeloAuto h3 {
  font-family: var(--fuente-titulo);
  text-transform: capitalize;
  font-size: 28px;
}

.modeloAuto p {
  font-family: var(--fuente-cuerpo);
  font-size: 18px;
}