<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./shared/head')%>
</head>
<body>
  <%- include('./shared/header')%>
  <h1>Marcas disponibles</h1>
  <p>En nuestras sucursales podrás encontrar las siguientes marcas de autos:</p>
  <ul>
    <%for(let marca of marcas) {%>
      <li><a href="/marcas/<%-marca%>"><%-marca%></a></li>
      <%}%>
  </ul>
</body>
</html>