<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./shared/head')%>
</head>
<body>
  <%- include('./shared/header')%>
  <section class="noEncontrado">
    <h1>Página no encontrada</h1>
    <div class="ford404"><img src="https://imgur.com/p39e57m.jpg" alt="Peugeot 404"></div> 
  </section>
  <%- include('./shared/footer')%>
</body>
</html>