<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./shared/head')%>
</head>
<body>
  <%- include('./shared/header')%>
  <section>
    <div><img src="https://imgur.com/p39e57m.jpg" alt="Peugeot 404"></div>
    <h1>Página no encontrada</h1>
  </section>
  <%- include('./shared/footer')%>
</body>
</html>