<footer>
  <section class="footerContacto">
    <h3>Contactanos</h3>
    <p>contacto@concesionariaexpress.com</p>
  </section>
  <section class="footerRedes">
    <h3>Visita nuestras redes sociales</h3>
    <article>
      <ul class="redesSociales">
        <li class="socialItem"><i class="fa-brands fa-twitter"></i></liclass>
        <li class="socialItem"><i class="fa-brands fa-square-instagram"></i></li>
        <li class="socialItem"><i class="fa-brands fa-linkedin"></i></li>
        <li class="socialItem"><i class="fa-brands fa-square-facebook"></i></li>
      </ul>
    </article>
  </section>
</footer>