<header>
  <div class="logoContenedor"><img class="logo" src="https://imgur.com/kWUfmnW.png" alt="logo"></div>
  <nav>
    <ul class="menuPrincipal">
      <li class="menuItem"><a href="/">Home</a></li>
      <li class="menuItem"><a href="/sucursales">Sucursales</a></li>
      <li class="menuItem"><a href="/autos">Autos</a></li>
      <li class="menuItem"><a href="/marcas">Marcas</a></li>
    </ul>
  </nav>
</header>