<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/sucursales">Sucursales</a></li>
      <li><a href="/autos">Autos</a></li>
      <li><a href="/marcas">Marcas</a></li>
    </ul>
  </nav>
</header>